body {
    background-color: black;
}

* {
    color: white;
    font-family: 'Archivo Narrow';
}

h1 {
    text-transform: uppercase;
    display: flex;
    margin-inline: auto;
    justify-content: center;
    font-size: 4rem;
    letter-spacing: 0.5rem;
}

table tbody tr {
  transition: background-color 0.2s ease;
}

table tbody tr.highlight-red {
  background-color: rgba(255, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
}

table tbody tr.highlight-green {
  background-color: rgba(0, 255, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.8);
}

table {
    display: flex;
    justify-content: center;
}

tbody {
    display: flex;
    width: 40rem;
    flex-wrap: wrap;
    gap: 1rem;
}

td {
    padding: 1rem;
    border: 1px solid white;
    width: 2rem;
    border-radius: 0.2rem;
    font-size: 1.5rem;
    transition: transform 0.2s ease-in-out;
    text-align: center;
    justify-content: center;
    align-items: center;
}

td:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
    border-radius: 1rem;
    box-shadow:
        0 0 5px 2px rgba(255, 255, 255, 0.8),
        0 0 15px 5px rgba(138, 43, 226, 0.6),
        0 0 30px 10px rgba(0, 191, 255, 0.4),
        0 0 50px 15px rgba(0, 150, 255, 0.2);
}

#encryption-data {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

input {
    display: flex;
    justify-content: center;
    background-color: black;
    border: 1px solid white;
    height: 2rem;
    width: 20rem;
    transition: all 0.3s ease-in-out;
    transform-origin: center;
    border-radius: 0.2rem;
    text-transform: uppercase;
    padding: 1rem;
    font-size: 1.2rem;
}

input:focus {
    box-shadow:
        0 0 5px 2px rgba(255, 255, 255, 0.8),
        0 0 15px 5px rgba(138, 43, 226, 0.6),
        0 0 30px 10px rgba(0, 191, 255, 0.4),
        0 0 50px 15px rgba(0, 150, 255, 0.2);

}

#encrypt {
    background-color: black;
    border: 1px solid white;
    border-radius: 0.2rem;
    padding: 1rem;
    padding-inline: 2rem;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
}

#encrypt:hover {
    transform: scale(1.1);
    background-color: white;
    color: black;
    border-radius: 1rem;
    font-size: 1.3rem;
}


p {
    color: white;
}

label {
    font-weight: 900;
    font-size: 1.3rem;
}

.error {
    display: none;
    color: red;
    font-size: 1.3rem;
}

#encryption-output {
    display: flex;
    margin-top: 5rem;
    gap: 1rem;
    justify-content: center;
    flex-direction: column;
}

#encrypted-text {
    font-size: 5rem;
    letter-spacing: 1rem;   
    text-align: center;
    text-transform: uppercase;
}

.text-row {
    
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
    padding: 12px;
    height: 5rem;
    border-radius: 0.2rem;
    border: 1px solid white;
    align-items: center;
}

.text-row p:hover{
 background-color: white;
    color: black;
    transform: scale(1.1);
    border-radius: 1rem;
    box-shadow:
        0 0 5px 2px rgba(255, 255, 255, 0.8),
        0 0 15px 5px rgba(138, 43, 226, 0.6),
        0 0 30px 10px rgba(0, 191, 255, 0.4),
        0 0 50px 15px rgba(0, 150, 255, 0.2);
}
.text-row p {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    height: 48px;
    margin: 0;
    padding-inline: 2rem;
    padding: 1rem;
    transition: transform 0.2s ease-in-out;

    border-radius: 0.2rem;
    border: 1px solid white;
}

.head-text {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 700;
}