body {
    background-color: black;
}

* {
    color: white;
    font-family: 'Archivo Narrow';
}

h1 {
    text-transform: uppercase;
    display: flex;
    margin-inline: auto;
    justify-content: center;
    font-size: 4rem;
    letter-spacing: 0.5rem;
}

table {
    display: flex;

    justify-content: center;
}

tbody {
    display: flex;
    width: 40rem;
    flex-wrap: wrap;
    gap: 1rem;
}

td {
    padding: 1rem;
    border: 1px solid white;
    width: 2rem;
    border-radius: 0.2rem;
    font-size: 1.5rem;
    transition: transform 0.2s ease-in-out;
    text-align: center;
    justify-content: center;
    align-items: center;
}

td:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
    border-radius: 1rem;
    box-shadow:
        0 0 5px 2px rgba(255, 255, 255, 0.8),
        0 0 15px 5px rgba(138, 43, 226, 0.6),
        0 0 30px 10px rgba(0, 191, 255, 0.4),
        0 0 50px 15px rgba(0, 150, 255, 0.2);
}

#encryption-data {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

input {
    display: flex;
    justify-content: center;
    background-color: black;
    border: 1px solid white;
    height: 2rem;
    width: 20rem;
    transition: all 0.3s ease-in-out;
    transform-origin: center;
    border-radius: 0.2rem;
    text-transform: uppercase;
    padding: 1rem;
    font-size: 1.2rem;
}

input:focus {
    box-shadow:
        0 0 5px 2px rgba(255, 255, 255, 0.8),
        0 0 15px 5px rgba(138, 43, 226, 0.6),
        0 0 30px 10px rgba(0, 191, 255, 0.4),
        0 0 50px 15px rgba(0, 150, 255, 0.2);

}

#encrypt {
    background-color: black;
    border: 1px solid white;
    border-radius: 0.2rem;
    padding: 1rem;
    padding-inline: 2rem;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
}

#encrypt:hover {
    transform: scale(1.1);
    background-color: white;
    color: black;
    border-radius: 1rem;
    font-size: 1.3rem;
}


p {
    color: white;
}

label {
    font-weight: 900;
    font-size: 1.3rem;
}

.error {
    display: none;
    color: red;
    font-size: 1.3rem;
}

#encryption-output {
    display: flex;
    margin-top: 5rem;
    justify-content: center;
}

#encrypted-text {
    font-size: 5rem;
    letter-spacing: 2rem;
    text-align: center;
}

.text-row {
    min-height: 72px;
    display: flex;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
    padding: 12px;
    border-radius: 12px;
    background: linear-gradient(180deg, #131313, #000, #131313)
}

.text-row p {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 36px;
    height: 48px;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 3px 6px 4px rgba(255, 255, 255, 0.301);
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: transform .35s cubic-bezier(.2, .9, .2, 1), opacity .28s;
    background: transparent;
    color: #fff;
}

.head-text {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 700;
}